html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Muli', sans-serif;
}

li {
    list-style-type: none;
}

.blurry-ui {
    backdrop-filter: blur(60px);
}

.dark-trans-bg {
    background-color: #0000005e;
}

.dark-bg {
    background-color: #161819;
}

.light-trans-bg {
    background-color: #a5a5a540;
}

.light-bg {
    background-color: white;
}

.open {
    width: 300px;
}

.close {
    width: 80px;
}

.container {
    display: grid;
    grid-template-columns: max-content auto;
    height: 100%;
    width: 100%;
}

.main-content {
    display: block;
    height: 100%;
    overflow: auto;
    margin-left: 20px;
}

.side-bar.open .sidebar-title-icon-button.menu  {
    display: none;
}

.side-bar.close .sidebar-title-icon-button.left  {
    display: none;
}

.side-bar {
    transition: width ease-in-out 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
    height: 100%;
}

.sidebar-title {
    height: 70px;
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    align-items: center;
    align-content: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-title-text {
    font-size: 20px;
    width: max-content;
    block-size: max-content;
    inline-size: max-content;
    font-weight: bold;
}

.sidebar-title-icon {
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.sidebar-title-icon-button {
    height: 40px;
    width: 40px;
    float: right;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    background: none;
    border: none;
    padding: 0;
}

.sidebar-title-icon-button > svg path {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.sidebar-title-icon-button:hover{
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
    height: 45px;
    width: 45px;
}

.sidebar-items {
    padding-right: 10px;
    padding-left: 10px;
    margin-block-start: 12px;
}

.sidebar-item {
    display: grid;
    grid-template-columns: max-content auto max-content;
    box-sizing: border-box;
    line-height: 20px;
    padding: 10px;
    margin: 10px;
}

.side-bar.dark-bg .sidebar-item.active,
.side-bar.dark-bg .sidebar-item:hover,
.side-bar.dark-bg > .sidebar-picker {
    background-color: #292c2d;
}

.side-bar.blurry-ui .sidebar-item.active,
.side-bar.blurry-ui .sidebar-item:hover,
.side-bar.blurry-ui > .sidebar-picker {
    background-color: #42424266;
    backdrop-filter: blur(20px);
}

.side-bar.dark-bg > .sidebar-title {
    background-color: #292c2d;
    color: white;
}

.side-bar.light-bg > .sidebar-title {
    background-color: rgb(239 239 239);
}

.side-bar.dark-bg .sidebar-item.active > .sb-item-text,
.side-bar.dark-bg .sidebar-item:hover > .sb-item-text {
    color: #67529e;
}

.side-bar.light-bg .sidebar-item.active > .sb-item-text,
.side-bar.light-bg .sidebar-item:hover > .sb-item-text {
    color: #67529e;
}

.side-bar.dark-bg .sb-item-text {
    color: white;
}

.side-bar.light-bg .sb-item-text {
    color: black;
}

.side-bar.light-bg .sidebar-item.active,
.side-bar.light-bg .sidebar-item:hover,
.side-bar.light-bg > .sidebar-picker,
.side-bar.light-bg > .sidebar-title {
    background-color: rgb(239 239 239);
}

.side-bar.dark-bg .sb-item-icon > svg path, .side-bar.dark-bg .sidebar-title-icon-button > svg path {
    fill: white
}

.side-bar.light-bg .sb-item-icon > svg path, .side-bar.light-bg .sidebar-title-icon-button > svg path {
    fill: black
}

.side-bar.light-bg > .sidebar-picker > .sidebar-mode.mode-selected {
    background-color: white;
}

.side-bar.dark-bg > .sidebar-picker > .sidebar-mode.mode-selected {
    background-color: #161819;
}

.side-bar.blurry-ui > .sidebar-picker > .sidebar-mode.mode-selected {
    background-color: #0000001a;
    backdrop-filter: blur(20px);
}

.sidebar-item.active, .sidebar-item:hover {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
}

.sb-item-icon {
    height: 20px;
    width: 20px;
}

.sb-item-text {
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    width: max-content;
    block-size: max-content;
    inline-size: max-content;
}

.side-bar.close .sidebar-title-text {
    display: none;
}

.side-bar.close .sb-item-text {
    display: none;
}

.side-bar.open > .sidebar-picker {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    align-items: center;
    align-content: center;
}

.side-bar.open > .sidebar-picker > .sidebar-mode {
    height: 30px;
}

.side-bar.close > .sidebar-picker > .sidebar-mode {
    height: 45px;
}

.side-bar.close > .sidebar-picker {
    display: block;
    width: 45px;
    margin: 10px auto;
}

.sidebar-picker {
    border-radius: 12px;
    background-color: #292c2d;
    margin: 10px;
    padding: 5px;
}

.sidebar-mode {
    font-weight: bold;
    color: #67529e;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mode-selected {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px 0px;
    cursor: not-allowed;
}

@media screen and (max-width: 480px) {
    .side-bar {
        position: fixed;
        top: 0;
        left: 0;
    }

    .side-bar.open {
        width: 100%;
    }

    .main-content {
        margin-left: 100px;
    }
}