<div id="cards" class="card-items">
    <div class="card dark-bg">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
    <div class="card">
        <div class="card-image">
            <img src="../resources/avatar.png" alt="avatar">
        </div>
        <div class="card-title">
            Contact
        </div>
    </div>
</div>